body {
  font-family: "Karla", sans-serif;
  font-size: 19px;
  background-color: #FFFCEB;
  color: #e7040f;
}

select {
  padding: 5px;
  color: #212121;
  font-size: 19px;
  background: transparent;
  appearance: none;
}
select option {
  background-color: #82caff;
}

.pointer_default {
  cursor: default;
}
